* {
    font-family: 'PT Sans', sans-serif;;
}
h1 {color:black;
		line-height:15px;}
h2, h3 {color:black;
		line-height:15px;}
h4 {color:black;
		line-height:15px;
		}
p {color:black;
		margin:1px;
		}
a:link  {color:green;
		text-decoration:none;
		font-size:10;
		}
a:visited  {color:green;
		text-decoration:none;
		font-size:10;
		}
a:hover {color:#917624;
		font-size:10;
		}	