* {
    font-family: 'PT Sans', sans-serif;;
    }
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }
a:active,
a:hover {
  outline: 0; }





h1 {color:black;
	font-size: 50px;
	line-height:50px;}
h2, h3 {color:black;
	font-size: 17px;
	line-height:17px;}
h4 {color:black;
	font-size: 15px;
		line-height:15px;}
p {color:black;
		margin:1px;}

body{
	background: #FFF;
	color: #333;
	margin: 0em 8em 0em 8em; /*top right bottom left */
    }


a:link  {color:#009900;
		text-decoration:none;
		}
a:visited  {color:#009900;
		text-decoration:none;
		}
a:hover {color: #FFC300 ;
		}	
main {border:  none;
			position: relative;
	} 
@supports (display: grid) {
.site-mast {
  display: grid;
   padding: 1em; }

.site-header {
   grid-column: content;
  margin-bottom: 2em; }


  .site-mast {
    margin-bottom: 0;
    padding: 0;
    grid-template-columns: minmax(1rem, 1fr) [content-start] minmax(auto, 70em) [content-end] minmax(1rem, 1fr); }
  .site-header {
    background: none;
    grid-column: content;
    margin-bottom: 0; } }

.nav-item {
  display: inline-block;
  overflow: hidden; }

.nav-item a {
  color: #009900;
  display: block;
  font-size: 0.8125em;
  /* 13 / 16 */
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 1em 1em 0em 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, transform 0.15s ease-in-out;
  transform-origin: 0 50%; }
.nav-item a:hover{color: #FFC300;
    transform: scale(1.1);
}

.thumb-panel { 
    padding: 0em 0em 0em 3.5em;
}

.articles-recent {
    display: grid;
    grid-template-columns: repeat( 1, 1fr );

}
.story-lead {
    grid-column: 1 / 1;
}
.articles-recent header {
    grid-column: 1 / 1;
}

@media ( min-width: 35em ){
.articles-past{
    display: grid;
    grid-template-columns:repeat(1:4fr);
    grid-column-gap:2.5%;
}
.articles-past header {
    grid-column: 1 / 4;
}
}
.story-alt {
    grid-column-start: 1;
    grid-column-end: 2;
}
.story-alt2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}

}
@media ( min-width: 35em ) and ( max-width: 60em ) {{
.articles-past{
    display: grid;
    grid-template-columns:repeat(1:4fr);
    grid-column-gap:2.5%;
}
.articles-past header {
    grid-column: 1 / 4;
}
}
.story-alt {
    grid-column-start: 1;
    grid-column-end: 2;
}
.story-alt2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}

}
@media ( min-width: 60em ){
.articles-past{
    display: grid;
    grid-template-columns:repeat(1:4fr);
    grid-column-gap:2.5%;
}
.articles-past header {
    grid-column: 1 / 4;
}
}
.story-alt {
    grid-column-start: 1;
    grid-column-end: 2;
}
.story-alt2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}

}

.footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}