* {
    font-family: 'PT Sans', sans-serif;;
}
h1 {color:black;
	font-size: 50px;
		line-height:50px;}
h2, h3 {color:black;
	font-size: 17px;
		line-height:17px;}
h4 {color:black;
	font-size: 15px;
		line-height:15px;}
p {color:black;
		margin:1px;}

body{
	background: #FFF;
	color: #333;
	margin: 0 auto;
	max-width: 30em;
}


a:link  {color:#9d002d;
		text-decoration:none;
		}
a:visited  {color:#9d002d;
		text-decoration:none;
		}
a:hover {color: #FFC300 ;
		}	
main {border:  none;
			position: relative;
	margin: 30px 0px 30px 30px;}

	

.articles-recent {
    display: grid;
    grid-template-columns: repeat( 1, 1fr );

}
.story-lead {
    grid-column: 1 / 1;
}
.articles-recent header {
    grid-column: 1 / 1;
}

@media ( min-width: 35em ){
.articles-past{
    display: grid;
    grid-template-columns:repeat(1:4fr);
    grid-column-gap:2.5%;
}
.articles-past header {
    grid-column: 1 / 4;
}
}
.story-alt {
    grid-column-start: 1;
    grid-column-end: 2;
}
.story-alt2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}

}
@media ( min-width: 40em ){
.articles-past{
    display: grid;
    grid-template-columns:repeat(1:4fr);
    grid-column-gap:2.5%;
}
.articles-past header {
    grid-column: 1 / 4;
}
}
.story-alt {
    grid-column-start: 1;
    grid-column-end: 2;
}
.story-alt2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}

}
@media ( min-width: 40em ){
.articles-past{
    display: grid;
    grid-template-columns:repeat(1:4fr);
    grid-column-gap:2.5%;
}
.articles-past header {
    grid-column: 1 / 4;
}
}
.story-alt {
    grid-column-start: 1;
    grid-column-end: 2;
}
.story-alt2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

img {
    max-width: 100%;
}
.story .art {
    width: 100%;
}

}